<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>


    <application
            android:name=".MapApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_rootmap"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Rootmap"
            tools:targetApi="31">
        <activity
                android:name=".RouteMapViewActivity"
                android:exported="false" />
        <activity
                android:name=".ExpenditureDetailActivity"
                android:exported="false" />
        <activity
                android:name=".ExpenditureActivity"
                android:exported="false" />
        <activity
                android:name=".FriendActivity"
                android:exported="false" />
        <activity
                android:name=".LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                        android:host="oauth"
                        android:scheme="kakaoadbabacb6eeba95fa1b0adf991f6505c" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MyRouteActivity" />
        <activity android:name=".FavoriteTouristSpotsActivity" />
        <activity android:name=".LikedPostsActivity" />

        <activity android:name=".LadderGameActivity" />
        <activity android:name=".RouletteGameActivity" />
        <activity android:name=".SettlementGameActivity" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity android:name="com.facebook.FacebookActivity"
                android:configChanges=
                        "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="rootmap" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>